/* @Media Notepad */
@media only screen and (max-width: 768px) {
    header {        
        flex-direction: column;
        align-items: center;
        
        margin-bottom: px;

    }

    #ourService{
        .appPicture{
            max-width: 600px;
        }
    }

    #testimonials .infoBox .customerMessage{
        padding: 0;

        .message{
            flex: 1 1 700px;
            padding: 0;
            
        }

        .customerBox .customerIcon{
            display: none;
        }

        .customerBox .customerInfo p{
            display: none;
        }
    }

    #articles{
        overflow: hidden;
        .additionalArticles{
            flex-wrap: wrap;
            
        }
    }
}

/* @Media Phone */
@media only screen and (max-width: 425px) {
    body{
        min-width: 325px;
        max-width: 425px;
        margin: auto;
    }
    
    header{
        flex-direction: column;
    }

    header .logo{
        justify-content: space-between;
    }

    header nav{
        display: flex;
        justify-content: center;
        
        flex-wrap: wrap;
    }
}